In [2]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\admin\DataScience\EXNO-3-DS\Encoding Data.csv")
df

   id bin_1 bin_2  nom_0 ord_2
0   0     F     N    Red   Hot
1   1     F     Y   Blue  Warm
2   2     F     N   Blue  Cold
3   3     F     N  Green  Warm
4   4     T     N    Red  Cold
5   5     T     N  Green   Hot
6   6     F     N    Red  Cold
7   7     T     N    Red  Cold
8   8     F     N   Blue  Warm
9   9     F     Y    Red   Hot

**ORDINAL ENCODER**

In [ ]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [ ]:
pm=['Hot','Warm','Cold']

In [ ]:
##TYPE YOUR CODE HERE

In [ ]:
df['bo2']=e1.fit_transform(df[["ord_2"]])

In [ ]:
df

In [ ]:
df['ord_2']=e1.fit_transform(df[["ord_2"]])

In [ ]:
df

**LABEL ENCODER**

In [ ]:
le=LabelEncoder()

In [ ]:
dfc=df.copy()

In [ ]:
##TYPE YOUR CODE HERE

**OneHotEncoder**

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe=OneHotEncoder(sparse=False)
df2=df.copy()

In [ ]:
#TYPE YOUR DATAFRAME CODE HERE

In [ ]:
#TYPE YOUR CONCAT CODE HERE

In [ ]:
pd.get_dummies(df2,columns=["nom_0"])

**BinaryEncoder**

In [ ]:
pip install --upgrade category_encoders

In [ ]:
from category_encoders import BinaryEncoder

In [ ]:
df=pd.read_csv("/content/data.csv")

In [ ]:
df

In [ ]:
be=BinaryEncoder()

In [ ]:
##TYPE YOUR CODE HERE

**TargetEncoder**

In [ ]:
from category_encoders import TargetEncoder

In [ ]:
te=TargetEncoder()

In [ ]:
cc=df.copy()

In [ ]:
##TYPE YOUR CODE HERE

In [ ]:
#TYPE YOUR CONCAT CODE HERE

**FEATURE TRANSFORMATION**

In [ ]:
import pandas as pd
from scipy import stats
import numpy as np

In [ ]:
df=pd.read_csv("/content/Data_to_Transform.csv")

In [ ]:
df.skew()

In [ ]:
#Perform Log,Reciprocal,sqrt,dquare method one by one

In [ ]:
#perfrom boxcox and yeojhonson method for any one column

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats

In [ ]:
sm.qqplot(df['Moderate Negative Skew'],line='45')
plt.show()

In [ ]:
sm.qqplot(df['Moderate Negative Skew_1'],line='45')
plt.show()

In [ ]:
df["Highly Negative Skew_1"]=qt.fit_transform(df[["Highly Negative Skew"]])
sm.qqplot(df['Highly Negative Skew'],line='45')
plt.show()

In [ ]:
df

In [ ]:
sm.qqplot(df['Highly Negative Skew_1'],line='45')
plt.show()